@import '../Base.scss';

.add-to-box {
  width: 336px;
  // height: 256px; Height with  emty cart
  height: min-content;
  margin: 12px;
  background-color: $color-white;
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.05);
  padding: 24px 26px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__container {
    display: grid;
    grid-template-columns: 195px 89px;
    // 195px is widest component in shipping box
    // 89px is PriceBox 86px + 3px left margin
    grid-template-rows: 92px 116px;
    // 92px is distance from PriceBox to BtnBox 92px - BtnBox margin 28px + PriceBox height 24px;
    // 140px = 24 + 40 + 12 + 40

    // @media only screen and (min-width: 0px) {
    //   grid-template-columns: 177px 78px;
    // }
  }

  &__shipping-info-box {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    color: $color-gray-light;
    font-size: 14px;
  }

  &__price-box {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  &__btn-box {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
  }
}