@import '../Base.scss';

.lead-time {
  width: 158px;
  display: flex;
  align-items: center;
  margin-bottom: 12px;

  &__p {
    flex: 0 0 130px;
    margin-right: 13px;

    // @media only screen and (min-width: 0px) {
    //   flex: 0 0 118px;
    //   margin-right: 12px;
    // }
  }

  &__span {
    font-weight: bold;
  }

  &__img {
    width: 15px;
    height: 14px;
    display: inline-block;
  }
}