@import '../Base.scss';

.login-btn {
  background-color: $color-primary;
  color: $color-white;
  width: 284px;
  height: 40px;
  margin-bottom: 12px;
  border-radius: 20px;
  outline: none;
  
  @media only screen and (min-width: 1050px) {
    width: 258px;
  }

  &__p {
    font-family: Roboto;
    font-size: 14px;
    line-height: 20px;
    width: 236px;
    text-align: center;
    margin: 10px 24px;

    @media only screen and (min-width: 1050px) {
      width: 210px;
    }
  }
}