@import '../Base.scss';

.shipping-price {
  color: $color-gray-dark;
  width: 86px;
  margin-left: 3px;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  font-weight: bold;

    // @media only screen and (min-width: 0px) {
    //   width: 78px;
    // }
}