@import './Base.scss';

.spinner {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 100vh;
  background-color: $color-white;
  opacity: 1;

  &__box {
    align-self: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    position: relative;
  }

  &__one,
  &__two {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 8px solid transparent;
    border-radius: 50%;
  }

  &__one {
    border-top-color: $color-primary;
    animation: SpinnerOne 1.2s linear infinite;
  }

  &__two {
    border-bottom-color: $color-primary;
    animation: SpinnerTwo 1.2s linear infinite;
  }
}

@keyframes SpinnerOne {
  0% { transform: rotate(0deg); border-width: 8px }
  50% { transform: rotate(180deg); border-width: 8px }
  100% { transform: rotate(360deg); border-width: 8px }
}

@keyframes SpinnerTwo {
  0% { transform: rotate(0deg); border-width: 8px }
  50% { transform: rotate(180deg); border-width: 8px }
  100% { transform: rotate(360deg); border-width: 8px }
}
