@import '../Base.scss';

.option-list {
  @media only screen and (min-width: 1320px) {
    display: flex;
  }

  &__desktop-div {
    display: none;
    flex: 0 0 112px;
    margin-top: 12px;
    font-size: 14px;
    color: $color-gray-light;

    @media only screen and (min-width: 1320px) {
      display: inline-block;
    }
  }
}