@import '../Base.scss';

.price-box {
  height: 64px;
  margin-bottom: 12px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  box-shadow: inset 0 1px 0 0 #E6E7EB, inset 0 -1px 0 0 #E6E7EB;

  & > * {
    font-size: 14px;
  }

  &__new-price {
    flex: 0 0 135px;
    color: $color-primary;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;

    // @media only screen and (min-width: px) {
    //   margin-right: 12px;
    // }
    
  }

  &__option {
    flex: 0 0 54px;
    color: $color-gray-light;
  }

  &__divider {
    flex: 0 0 11px;
    color: #EDF0F3;
    display: flex;
    justify-content: center;
  }

  &__option-count {
    flex: 0 0 64px;
    color: $color-gray-dark;
  }

  &__min-order {
    flex: 0 0 72px;
    color: $color-gray-light; 
  }

  &__old-price {
    flex: 0 0 124px;
    color: $color-gray-light;
    text-decoration: line-through;
  }
}